/*Kategóriák, bannerek*/
#banners {
    margin-top: 70px;
}

.grid-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 20px;
}

.grid-item {
    grid-column: span 1;
    grid-row: span 1;

    &:hover {
        background: rgba(0,0,0,0.5);
    }
}


.wide {
    grid-column: span 2;
    grid-row: span 1;
}

.categ1 {
    background: url('../img/categ1.jpg') center no-repeat;
    background-size: cover;
}

.categ2 {
    background: url('../img/categ2.jpg') center no-repeat;
    background-size: cover;
}

.categ3 {
    background: url('../img/categ3.jpg') center no-repeat;
    background-size: cover;
}

.categ4 {
    background: url('../img/categ4.jpg') center no-repeat;
    background-size: cover;
}

.categ5 {
    background: url('../img/categ5.jpg') center no-repeat;
    background-size: cover;
}

.categ6 {
    background: url('../img/categ6.jpg') center no-repeat;
    background-size: cover;
}

.inner-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.black {
    color: $text-color;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;

    &:hover {
        color: $hover-color;
        transition: 0.3s;
    }

}

.white {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;

    &:hover {
        color: $hover-color;
        transition: 0.3s;
    }
}

@media (min-width:330px) {
    .grid-container {
        grid-auto-rows: 150px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:576px) {
    .grid-container {
        grid-auto-rows: 200px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:576px) {
    .grid-container {
        grid-auto-rows: 200px;
        grid-template-columns: repeat(2, 1fr);
    }

    .white,
    .black {
        font-size: 35px;
    }
}

@media (min-width:992px) {
    .grid-container {
        grid-auto-rows: 200px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:1920px) {
    .grid-container {
        grid-auto-rows: 400px;
    }

    .inner-card {
        padding: 47px 40px 0 40px;
    }

    .white,
    .black {
        font-size: 38px;
        line-height: 56px;
    }
}

h1 {
    text-align: center;
}