/*Lábléc*/
footer {
    background: $text-color;
    margin: 0 auto;

    .menu-item {
        padding-top: 30px;
    }

    .menu-item li a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        position: relative;

        &:hover {
            color: #F67DA1;
            transition: 0.3s;
        }
    }

    .contact li {
        color: #A1A1A1;
        text-decoration: none;
        font-size: 14px;
        position: relative;

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #F67DA1;
            }
        }
    }

    .socialmedia {
        padding-top: 50px;

        li {
            padding: 0 20px;
        }
    }

    #copyright {
        text-align: center;
        padding-top: 41px;

        p {
            margin: 0 auto;
            font-size: 12;
            font-weight: 500;
            color: #A6A6A6;
        }
    }

    .language {
        text-align: center;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            display: inline-block;
            position: relative;

            a {
                text-decoration: none;
                color: #767676;
                ;
                padding: 0 10px;
            }
        }

        li:first-of-type a {
            color: #fff;
        }
    }

    .select-menu {
        border: 1px solid #5C5C5C;
        position: relative;

        li:first-of-type::after {
            content: '';
            width: 6px;
            height: 6px;
            border: solid #fff;
            border-width: 0 1px 1px 0;
            display: inline-block;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: absolute;
            top: 30%;
            right: 7px;
        }

        select {
            background: none;
            border: none;
            color: #fff;
            font-size: 12px;
            padding: 8px 20px 8px 10px;
        }

        option {
            background: $text-color;
        }
    }

    p {
        text-align: center;
        margin: 30px auto;
        width: 60%;
        color: #767676;
        font-size: 13px;
        line-height: 22px;
    }

    .transport_payment_logos {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 19px;
        padding-bottom: 15px;
        background-color: #fff;

        .logo-items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            div {
                padding: 0 15px;
            }
        }
    }
}

@media (min-width:330px) {
    footer {
        .bottom-navigation{
            padding: 1rem;
        }
        .socialmedia {
            padding-top: 50px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: #fff;

                &:hover {
                    color: $hover-color;
                    transition: 0.3s;
                }
            }
        }
        .footer-text{
            width: 100%;
            text-align: left;
        }

        .menu-item {
            padding-top: 30px;
            color: #fff;

            li {
                display: block;
                padding-bottom: 15px;

                a:after {
                    content: none;
                }
            }

        }

        .contact {
            margin-top: 20px;

            li {
                font-size: 14px;
                padding-bottom: 15px;
            }
        }
    }
}

@media (min-width:768px) {
    footer {
        .menu-item {
            padding-top: 30px;
            text-align: center;
            color: #fff;

            li {
                display: inline-block;
                padding-bottom: 10px;

                a {
                    padding: 0 20px;
                }
            }
        }

        .menu-item li a::after,
        .contact li::after,
        .lang li::after {
            @include divider;
        }

        .menu-item li:last-of-type a:after,
        .contact li:last-of-type::after,
        .lang li:last-of-type::after {
            content: none;
        }

        .contact {
            padding-top: 41px;
            text-align: center;

            li {
                display: inline-block;
                padding: 0 20px;
            }

            .mail-hover a:hover {
                transition: 0.3s;
            }
        }
    }
}

@media (min-width:1800px) {
    footer {
        .menu-item {
            li {
                padding-bottom: 0;
            }
        }


    }
}