//Slick-slider
.banner-items-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.banner-items-container {
    padding-left: 176px;
    padding-right: 176px;
}

.banner-items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .btn {
        margin-top: 32px;
    }

    span {
        font-family: 'Quicksand';
    }

    .banner-items-title {
        font-weight: 700;
        text-transform: uppercase;
        color: $text-color;
    }

    .banner-items-subtitle {
        font-weight: 400;
        padding-left: 8px;
        line-height: 34px;
        padding-top: 17px;
    }

    .hero-btn {
        padding: 15px 49px 14px 50px;
        margin-left: 0px;
    }
}


.slick-slider {
    position: relative;
}

.prev-Arrow {
    position: absolute;
    top: 48%;
    left: 20px;
    z-index: 10;
}

.next-Arrow {
    position: absolute;
    top: 48%;
    right: 20px;
    z-index: 10;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;

    .slick-dots {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            margin-left: 7.5px;
            margin-right: 7.5px;
            width: 10px;
            height: 10px;
            position: relative;
            padding: 0;
            background-color: $text-color;
            border-radius: 50%;
            opacity: 0.2;
        }

        .slick-active {
            background: $text-color;
            opacity: 1;
        }

        button {
            display: none;
        }
    }
}

.first-slide,
.second-slide,
.third-slide,
.fourth-slide,
.fifth-slide {
    background: url('../img/slide_banner.jpg') center no-repeat;
    background-size: cover;
}

@media (min-width:330px) {
    .banner-items-title {
        font-size: 40px;
        line-height: 40px;
    }

    .banner-items-subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-top: 20px;
        padding-left: 2px;
        width: 90%;
        color: $text-color;
    }

    .banner-items-container {
        padding-left: 60px;
        padding-right: 0;
        padding-top: 0px;
    }

    .banner-items-button {
        padding-left: 0;
        margin-top: 20px;

        .btn-primary {
            margin-top: 0;
        }
    }

    .first-slide,
    .second-slide,
    .third-slide,
    .fourth-slide,
    .fifth-slide {
        min-height: 300px;
    }
}


@media (min-width:575px) {
    .banner-items-title {
        font-size: 100px;
        line-height: 100px;
    }

    .banner-items-subtitle {
        font-size: 20px;
        color: #BA8B88;
        width: 100%;
        line-height: 34px;

    }

    .banner-items-container {
        padding-left: 100px;
        padding-right: 0;
    }

    .first-slide,
    .second-slide,
    .third-slide,
    .fourth-slide,
    .fifth-slide {
        min-height: 500px;
    }
}

@media only screen and (min-width:1780px) {
    .banner-items-container {
        padding-left: 176px;
        padding-top: 110px;
    }

    .banner-items-title {
        font-size: 130px;
        line-height: 130px;
    }

    .banner-items-subtitle {
        font-size: 24px;
    }

    .first-slide,
    .second-slide,
    .third-slide,
    .fourth-slide,
    .fifth-slide {
        min-height: 700px;
    }

    .banner-items-button {
        margin-top: 37px;
        padding-left: 10px;
    }
}