header {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background: $text-color;
    top: 0;
    z-index: 10;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;

        &:hover {
            color: $hover-color;
            transition: 0.3s;

        }
    }

    margin: 0 auto;
}

#logo {
    .hover-white:hover {
        fill: $hover-color;
    }
}

.top-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .left-nav {
        .menu {
            display: inline;
        }

        li {
            display: inline-block;
            padding: 0 15px;
            position: relative;
        }

        a {
            color: #fff;
            text-decoration: none;
            display: block;
            text-align: left;
            font-size: 12px;
            font-weight: 400;

            &:hover {
                color: $hover-color;
            }
        }

        .phone-number {
            display: inline;
            font-size: 16px;
            font-family: Quicksand;
            color: $info-color;
            font-weight: bold;
        }

        .menu li::after {
            @include divider;
        }

        .menu li:first-of-type {
            padding-left: 0px;
            padding-right: 23px;
        }

        .menu li:last-of-type::after,
        .menu li:first-of-type::after {
            content: none;
        }
    }

    .dropdown {
        padding: 20px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;
        font-size: 18px;
        perspective: 1000px;
        z-index: 100;

        &:hover {
            color: $hover-color;
            cursor: pointer;
        }

        &:hover .dropdown_menu li {
            display: block;
        }

        .dropdown-arrow:after {
            content: '';
            width: 5px;
            height: 5px;
            border: solid white;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 2px;
            position: absolute;
            top: 4px;
            margin-left: 8px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }

    .dropdown_menu li:first-of-type {
        padding-left: 15px !important;
    }

    .dropdown_menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        perspective: 1000px;
        display: none;
        min-width: 160px;

        li {
            display: none;
            color: white;
            background-color: $text-color;
            padding: 10px 15px;
            opacity: 0;

            a {
                font-size: 12px;
            }

            &:hover {
                background-color: $hover-color;
            }

            &::after {
                content: none;
            }
        }
    }

    .dropdown:hover .dropdown_menu--animated {
        display: block;
    }

    .dropdown_menu-6 {
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center
    }

    .dropdown:hover .dropdown_menu--animated {
        display: block;
    }

    .dropdown_menu--animated {
        display: none;

        li {
            display: block;
            opacity: 1;
        }
    }

    .dropdown_menu-6 {
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center;
    }


    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }

        80% {
            transform: scaleY(1.1)
        }

        100% {
            transform: scaleY(1)
        }
    }
}

/*Right navigation*/

.right-nav {
    display: flex;
    flex-direction: row;
    padding-top: 10px;


    .input-block {
        border-bottom: 1px solid $divider-color;
        margin-right: 25px;
        display: flex;
        flex-direction: row;
        width: 240px;
        justify-content: space-between;

        input {
            padding-left: 2px;
            background: none;
            box-shadow: none;
            border: none;
            padding-bottom: 10px;
            font-size: 14px;
            letter-spacing: 1px;
        }

        button {
            background: none;
            border: none;
            padding-bottom: 9px;
        }

        .search-svg:hover {
            fill: $hover-color;
            cursor: pointer;
            transition: 0.3s;

        }
    }

    input[type=search] {
        color: #fff;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }

    .icons {
        a {
            padding: 0 25px;
        }

        a:last-of-type {
            padding-right: 0;
        }
    }
}

.mid-navigation {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 49px;

    .categories li {
        display: inline-block;
        padding: 0px 15px 0 15px;
        text-transform: uppercase;

        a {
            font-size: 16px;
            font-weight: 400;
        }
    }
}


@media (min-width:1196px) {
    .nav-mobile {
        display: none !important;
    }
}

@media (min-width:330px) and (max-width:1195px) {
    .nav-mobile {
        display: block;
    }

    .mobile-top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .desktop {
        display: none !important;
    }

    .right-nav {
        flex-direction: column;
        align-items: center;

        .input-block {
            margin-right: 0px;
            width: 100%;
            justify-content: space-between;
        }
    }

    .icons {
        flex-direction: row;
        margin: 30px 0;
        margin-right: 0;

        a:last-of-type {
            padding-right: 25px !important;
        }
    }

    .fullscreen-menu-container {
        visibility: visible;
        width: 100%;
        text-transform: uppercase;
    }

    /* Menu Button */

    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
        transition: background-color 500ms ease-in-out;
    }

    .menu-button {
        margin: 1.5rem;
    }

    .menu-button:hover,
    .menu-button:focus,
    .menu-button:active {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .menu-icon {
        position: relative;
        width: 2rem;
        height: 1.5rem;
    }

    .menu-icon span {
        position: absolute;
        height: 0.125rem;
        width: 100%;
        background-color: #332F21;
        transition: background-color 500ms ease-in-out;
    }

    .menu-icon span:nth-child(1) {
        top: 0.0625rem;
    }

    .menu-icon span:nth-child(2) {
        top: 0.625rem;
    }

    .menu-icon span:nth-child(3) {
        top: 1.25rem;
    }

    .menu-button:hover span,
    .menu-button:focus span,
    .menu-button:active span {
        background: white;
    }

    .menu-icon.is-active span:nth-child(1) {
        opacity: 0;

    }

    .menu-icon.is-active span:nth-child(2) {
        transform: rotate(45deg);

    }

    .menu-icon.is-active span:nth-child(3) {
        top: 0.625rem;
        transform: rotate(-45deg);
    }

    .fullscreen-menu-container {
        position: fixed;
        top: 12.5rem;
        left: 0;
        z-index: 12;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        background-color: rgba(255, 255, 255, 0.95);
        opacity: 0;
        pointer-events: none;
        transition: top 500ms ease-in, opacity 300ms ease-in;
        padding-top: 200px;

    }

    .fullscreen-menu-container.is-open {
        opacity: 1;
        top: 0;
        pointer-events: auto;
    }

    .fullscreen-menu-container .menu-button {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }



    .fullscreen-menu__nav a {
        display: block;
        font-size: 1.4rem;
        padding: 1rem;
        color: $text-color;
        text-decoration: none;
        transition: color 300ms ease-in;
        text-align: center;
    }

    .fullscreen-menu__nav a:hover,
    .fullscreen-menu__nav a:focus,
    .fullscreen-menu__nav a:active {
        color: $hover-color;
    }

    .fullscreen-menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fullscreen-menu {
        padding: 0;
    }

    .fullscreen-menu__nav {
        margin: 4rem 0;
    }

    .fullscreen-menu__nav ul {
        display: flex;
        justify-content: space-between;
    }

}