header {
    background: #212121;
    top: 0;
    z-index: 10;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
    }

    margin: 0 auto;
}

#top-navigation {
    display: flex;

    .left-nav {
        .menu {
            display: inline;
        }

        .menu li {
            display: inline-block;
            padding: 10px;
            position: relative;
        }

        .menu li::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 17px;
            background: #5C5C5C;
            right: -4px;
            top: 12px;
        }

        .menu li:last-of-type::after {
            content: none;
        }

        .phone-number {
            display: inline;
        }

        a:hover {
            color: #F67DA1;
        }

        .sub-menu {
            display: none;
            position: absolute;
            background-color: #212121;
            min-width: 100px;
            z-index: 1;

            a {
                color: #fff;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
        }

        .sub-menu a:hover {
            background-color: #F67DA1;
        }

        .has-children:hover .sub-menu {
            display: block;
        }

        .sub-menu li:after {
            content: none;
        }

        .has-children a {
            position: relative;
        }

        .has-children>a::after {
            content: '';
            position: absolute;
            right: -15px;
            top: 3px;
            border: solid #a1a1a1;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }

    .right-nav {
        display: flex;

        .search,
        .icons li {
            display: inline-block;
        }

        .icons img {
            height: 20px;
            width: auto;
            padding: 0 25px;
        }

        .icons {
            position: relative;
            top: 5px;
        }

        .search {
            margin-right: 30px;
        }

        input {
            position: relative;
            background: none;
            padding-bottom: 10px;
            width: 240px;
            box-shadow: none;
            border: none;
            border-bottom: #5C5C5C solid 1px;
        }

        .search {
            background: url("../img/search.svg") right no-repeat;
        }

        li:last-of-type img {
            padding-right: 0;
        }
    }

    justify-content: space-between;
    align-items: center;
}

#mid-navigation {
    margin: 0 auto;
    text-align: center;

    .left-nav-hide {
        height: 1px;
        visibility: hidden;

        ul li {
            display: inline-block;
        }
    }

    .categories li {
        display: inline-block;
        padding: 30px 10px 0 10px;
    }
}

@media only screen and (max-width:1200px) {
    .left-nav {
        display: none;
    }

    .has-children a {
        position: relative;
    }

    .has-children>a::after {
        content: '';
        position: absolute;
        right: -15px;
        top: 3px;
        border: solid #a1a1a1;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .left-nav-hide {
        height: auto;
        visibility: visible !important;

        ul li {
            display: block !important;
            padding: 30px 0;
        }

        .sub-menu {
            display: none;
            position: absolute;
            background-color: #212121;
            min-width: 345px;
            z-index: 10;
            margin: 0 auto;

            a {
                color: #fff;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: center;
            }
        }

        .sub-menu a:hover {
            background-color: #F67DA1;
        }

        .has-children:hover .sub-menu {
            display: block;
        }

        .sub-menu li:after {
            content: none;
        }
    }

    .hamburger {
        width: 90px;
        height: 50px;
        position: absolute;
        z-index: 100;
        top: 20px;
        left: 0px;
        cursor: pointer;
        transition: all .6s ease-in-out;

        div {
            width: 33px;
            height: 4px;
            background-color: #fff;
            display: block;
            margin: 5px 28px;
            transition: all .6s ease-in-out;

            &:nth-child(1) {
                margin-top: 20px;
            }
        }
    }

    .hamburger.active {
        left: 345px;
        transition: all 600ms ease-in-out;
        background-color: #212121;

        #one {
            transform: translateY(9px) rotate(-135deg);
            transition: all .6s ease-in-out;
            background-color: #fff;
        }

        #two {
            opacity: 0;
            transition: .4s ease;
            background-color: #fff;
        }

        #three {
            transform: translateY(-9px) rotate(-45deg);
            transition: all .6s ease-in-out;
            background-color: #fff;
        }
    }

    .menu-hide {
        width: 345px;
        left: -345px;
        height: 100vh;
        position: fixed;
        z-index: 10;
        top: 0px;
        transition: all .6s ease-in-out;
        overflow-y: auto;

        .categories {
            li {
                display: block !important;
                padding: 20px 0;
            }
        }
    }

    .menu-hide.show {
        left: 0px;
        background-color: #212121;
        transition: all .6s ease-in-out;

        .categories {
            li {
                display: block !important;
                padding: 20px 0 !important;
            }
        }
    }
}

@media only screen and(max-width:820px) {
    .right-nav {
        input {
            width: 100% !important;
        }
    }

    #top-navigation .right-nav .icons img {
        padding: 0 10px;
    }
}

@media only screen and(max-width:670px) {
    #top-navigation {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .right-nav {
        padding-top: 50px;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and(max-width:470px) {

    .right-nav {
        padding-top: 50px;
        flex-direction: column;

        .icons {
            padding-top: 20px;
        }
    }

    #top-navigation .right-nav .search {
        margin-right: 0;
    }

    .menu-hide {
        width: 250px;
        left: -250px;
    }

    .hamburger.active {
        left: 250px;
    }
}