/*Előnyök*/
#preference {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
}

.pref-text {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        padding-left: 19px;
        color: $hover-color;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
    }
}