@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none !important;
}

* {
  outline: none;
  -webkit-appearance: none;
}

b, strong {
  font-weight: 700;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.banner-items-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-items-container {
  padding-left: 176px;
  padding-right: 176px;
}

.banner-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner-items-container .btn {
  margin-top: 32px;
}

.banner-items-container span {
  font-family: 'Quicksand';
}

.banner-items-container .banner-items-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
}

.banner-items-container .banner-items-subtitle {
  font-weight: 400;
  padding-left: 8px;
  line-height: 34px;
  padding-top: 17px;
}

.banner-items-container .hero-btn {
  padding: 15px 49px 14px 50px;
  margin-left: 0px;
}

.slick-slider {
  position: relative;
}

.prev-Arrow {
  position: absolute;
  top: 48%;
  left: 20px;
  z-index: 10;
}

.next-Arrow {
  position: absolute;
  top: 48%;
  right: 20px;
  z-index: 10;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.dots .slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dots .slick-dots li {
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: 10px;
  height: 10px;
  position: relative;
  padding: 0;
  background-color: #212121;
  border-radius: 50%;
  opacity: 0.2;
}

.dots .slick-dots .slick-active {
  background: #212121;
  opacity: 1;
}

.dots .slick-dots button {
  display: none;
}

.first-slide,
.second-slide,
.third-slide,
.fourth-slide,
.fifth-slide {
  background: url("../img/slide_banner.jpg") center no-repeat;
  background-size: cover;
}

@media (min-width: 330px) {
  .banner-items-title {
    font-size: 40px;
    line-height: 40px;
  }
  .banner-items-subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
    padding-left: 2px;
    width: 90%;
    color: #212121;
  }
  .banner-items-container {
    padding-left: 60px;
    padding-right: 0;
    padding-top: 0px;
  }
  .banner-items-button {
    padding-left: 0;
    margin-top: 20px;
  }
  .banner-items-button .btn-primary {
    margin-top: 0;
  }
  .first-slide,
  .second-slide,
  .third-slide,
  .fourth-slide,
  .fifth-slide {
    min-height: 300px;
  }
}

@media (min-width: 575px) {
  .banner-items-title {
    font-size: 100px;
    line-height: 100px;
  }
  .banner-items-subtitle {
    font-size: 20px;
    color: #BA8B88;
    width: 100%;
    line-height: 34px;
  }
  .banner-items-container {
    padding-left: 100px;
    padding-right: 0;
  }
  .first-slide,
  .second-slide,
  .third-slide,
  .fourth-slide,
  .fifth-slide {
    min-height: 500px;
  }
}

@media only screen and (min-width: 1780px) {
  .banner-items-container {
    padding-left: 176px;
    padding-top: 110px;
  }
  .banner-items-title {
    font-size: 130px;
    line-height: 130px;
  }
  .banner-items-subtitle {
    font-size: 24px;
  }
  .first-slide,
  .second-slide,
  .third-slide,
  .fourth-slide,
  .fifth-slide {
    min-height: 700px;
  }
  .banner-items-button {
    margin-top: 37px;
    padding-left: 10px;
  }
}

header {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background: #212121;
  top: 0;
  z-index: 10;
  margin: 0 auto;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

header a:hover {
  color: #F67DA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#logo .hover-white:hover {
  fill: #F67DA1;
}

.top-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-navigation .left-nav .menu {
  display: inline;
}

.top-navigation .left-nav li {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

.top-navigation .left-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}

.top-navigation .left-nav a:hover {
  color: #F67DA1;
}

.top-navigation .left-nav .phone-number {
  display: inline;
  font-size: 16px;
  font-family: Quicksand;
  color: #A6A6A6;
  font-weight: bold;
}

.top-navigation .left-nav .menu li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 17px;
  background: #5C5C5C;
  right: -4px;
  top: 0px;
}

.top-navigation .left-nav .menu li:first-of-type {
  padding-left: 0px;
  padding-right: 23px;
}

.top-navigation .left-nav .menu li:last-of-type::after,
.top-navigation .left-nav .menu li:first-of-type::after {
  content: none;
}

.top-navigation .dropdown {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
  font-size: 18px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 100;
}

.top-navigation .dropdown:hover {
  color: #F67DA1;
  cursor: pointer;
}

.top-navigation .dropdown:hover .dropdown_menu li {
  display: block;
}

.top-navigation .dropdown .dropdown-arrow:after {
  content: '';
  width: 5px;
  height: 5px;
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  position: absolute;
  top: 4px;
  margin-left: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.top-navigation .dropdown_menu li:first-of-type {
  padding-left: 15px !important;
}

.top-navigation .dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: none;
  min-width: 160px;
}

.top-navigation .dropdown_menu li {
  display: none;
  color: white;
  background-color: #212121;
  padding: 10px 15px;
  opacity: 0;
}

.top-navigation .dropdown_menu li a {
  font-size: 12px;
}

.top-navigation .dropdown_menu li:hover {
  background-color: #F67DA1;
}

.top-navigation .dropdown_menu li::after {
  content: none;
}

.top-navigation .dropdown:hover .dropdown_menu--animated {
  display: block;
}

.top-navigation .dropdown_menu-6 {
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.top-navigation .dropdown:hover .dropdown_menu--animated {
  display: block;
}

.top-navigation .dropdown_menu--animated {
  display: none;
}

.top-navigation .dropdown_menu--animated li {
  display: block;
  opacity: 1;
}

.top-navigation .dropdown_menu-6 {
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

/*Right navigation*/
.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
}

.right-nav .input-block {
  border-bottom: 1px solid #5C5C5C;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-nav .input-block input {
  padding-left: 2px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.right-nav .input-block button {
  background: none;
  border: none;
  padding-bottom: 9px;
}

.right-nav .input-block .search-svg:hover {
  fill: #F67DA1;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right-nav input[type=search] {
  color: #fff;
}

.right-nav input:-webkit-autofill,
.right-nav input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.right-nav .icons a {
  padding: 0 25px;
}

.right-nav .icons a:last-of-type {
  padding-right: 0;
}

.mid-navigation {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 49px;
}

.mid-navigation .categories li {
  display: inline-block;
  padding: 0px 15px 0 15px;
  text-transform: uppercase;
}

.mid-navigation .categories li a {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1196px) {
  .nav-mobile {
    display: none !important;
  }
}

@media (min-width: 330px) and (max-width: 1195px) {
  .nav-mobile {
    display: block;
  }
  .mobile-top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desktop {
    display: none !important;
  }
  .right-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right-nav .input-block {
    margin-right: 0px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 30px 0;
    margin-right: 0;
  }
  .icons a:last-of-type {
    padding-right: 25px !important;
  }
  .fullscreen-menu-container {
    visibility: visible;
    width: 100%;
    text-transform: uppercase;
  }
  /* Menu Button */
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    -webkit-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
  }
  .menu-button {
    margin: 1.5rem;
  }
  .menu-button:hover,
  .menu-button:focus,
  .menu-button:active {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .menu-icon {
    position: relative;
    width: 2rem;
    height: 1.5rem;
  }
  .menu-icon span {
    position: absolute;
    height: 0.125rem;
    width: 100%;
    background-color: #332F21;
    -webkit-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
  }
  .menu-icon span:nth-child(1) {
    top: 0.0625rem;
  }
  .menu-icon span:nth-child(2) {
    top: 0.625rem;
  }
  .menu-icon span:nth-child(3) {
    top: 1.25rem;
  }
  .menu-button:hover span,
  .menu-button:focus span,
  .menu-button:active span {
    background: white;
  }
  .menu-icon.is-active span:nth-child(1) {
    opacity: 0;
  }
  .menu-icon.is-active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-icon.is-active span:nth-child(3) {
    top: 0.625rem;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .fullscreen-menu-container {
    position: fixed;
    top: 12.5rem;
    left: 0;
    z-index: 12;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: top 500ms ease-in, opacity 300ms ease-in;
    transition: top 500ms ease-in, opacity 300ms ease-in;
    padding-top: 200px;
  }
  .fullscreen-menu-container.is-open {
    opacity: 1;
    top: 0;
    pointer-events: auto;
  }
  .fullscreen-menu-container .menu-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  .fullscreen-menu__nav a {
    display: block;
    font-size: 1.4rem;
    padding: 1rem;
    color: #212121;
    text-decoration: none;
    -webkit-transition: color 300ms ease-in;
    transition: color 300ms ease-in;
    text-align: center;
  }
  .fullscreen-menu__nav a:hover,
  .fullscreen-menu__nav a:focus,
  .fullscreen-menu__nav a:active {
    color: #F67DA1;
  }
  .fullscreen-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullscreen-menu {
    padding: 0;
  }
  .fullscreen-menu__nav {
    margin: 4rem 0;
  }
  .fullscreen-menu__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*Lábléc*/
footer {
  background: #212121;
  margin: 0 auto;
}

footer .menu-item {
  padding-top: 30px;
}

footer .menu-item li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

footer .menu-item li a:hover {
  color: #F67DA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .contact li {
  color: #A6A6A6;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

footer .contact li a {
  color: #fff;
  text-decoration: none;
}

footer .contact li a:hover {
  color: #F67DA1;
}

footer .socialmedia {
  padding-top: 50px;
}

footer .socialmedia li {
  padding: 0 20px;
}

footer #copyright {
  text-align: center;
  padding-top: 41px;
}

footer #copyright p {
  margin: 0 auto;
  font-size: 12;
  font-weight: 500;
  color: #A6A6A6;
}

footer .language {
  text-align: center;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .language li {
  display: inline-block;
  position: relative;
}

footer .language li a {
  text-decoration: none;
  color: #767676;
  padding: 0 10px;
}

footer .language li:first-of-type a {
  color: #fff;
}

footer .select-menu {
  border: 1px solid #5C5C5C;
  position: relative;
}

footer .select-menu li:first-of-type::after {
  content: '';
  width: 6px;
  height: 6px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 30%;
  right: 7px;
}

footer .select-menu select {
  background: none;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 8px 20px 8px 10px;
}

footer .select-menu option {
  background: #212121;
}

footer p {
  text-align: center;
  margin: 30px auto;
  width: 60%;
  color: #767676;
  font-size: 13px;
  line-height: 22px;
}

footer .transport_payment_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 19px;
  padding-bottom: 15px;
  background-color: #fff;
}

footer .transport_payment_logos .logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .transport_payment_logos .logo-items div {
  padding: 0 15px;
}

@media (min-width: 330px) {
  footer .bottom-navigation {
    padding: 1rem;
  }
  footer .socialmedia {
    padding-top: 50px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .socialmedia a {
    color: #fff;
  }
  footer .socialmedia a:hover {
    color: #F67DA1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  footer .footer-text {
    width: 100%;
    text-align: left;
  }
  footer .menu-item {
    padding-top: 30px;
    color: #fff;
  }
  footer .menu-item li {
    display: block;
    padding-bottom: 15px;
  }
  footer .menu-item li a:after {
    content: none;
  }
  footer .contact {
    margin-top: 20px;
  }
  footer .contact li {
    font-size: 14px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  footer .menu-item {
    padding-top: 30px;
    text-align: center;
    color: #fff;
  }
  footer .menu-item li {
    display: inline-block;
    padding-bottom: 10px;
  }
  footer .menu-item li a {
    padding: 0 20px;
  }
  footer .menu-item li a::after,
  footer .contact li::after,
  footer .lang li::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 17px;
    background: #5C5C5C;
    right: -4px;
    top: 0px;
  }
  footer .menu-item li:last-of-type a:after,
  footer .contact li:last-of-type::after,
  footer .lang li:last-of-type::after {
    content: none;
  }
  footer .contact {
    padding-top: 41px;
    text-align: center;
  }
  footer .contact li {
    display: inline-block;
    padding: 0 20px;
  }
  footer .contact .mail-hover a:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (min-width: 1780px) {
  footer .menu-item li {
    padding-bottom: 0;
  }
  footer .footer-text {
    text-align: center;
  }
}

/*Előnyök*/
#preference {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
}

.pref-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pref-text p {
  padding-left: 19px;
  color: #F67DA1;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

/*Kategóriák, bannerek*/
#banners {
  margin-top: 70px;
}

.grid-container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.grid-item {
  grid-column: span 1;
  grid-row: span 1;
}

.grid-item:hover {
  background: rgba(0, 0, 0, 0.5);
}

.wide {
  grid-column: span 2;
  grid-row: span 1;
}

.categ1 {
  background: url("../img/categ1.jpg") center no-repeat;
  background-size: cover;
}

.categ2 {
  background: url("../img/categ2.jpg") center no-repeat;
  background-size: cover;
}

.categ3 {
  background: url("../img/categ3.jpg") center no-repeat;
  background-size: cover;
}

.categ4 {
  background: url("../img/categ4.jpg") center no-repeat;
  background-size: cover;
}

.categ5 {
  background: url("../img/categ5.jpg") center no-repeat;
  background-size: cover;
}

.categ6 {
  background: url("../img/categ6.jpg") center no-repeat;
  background-size: cover;
}

.inner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.black {
  color: #212121;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.black:hover {
  color: #F67DA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.white {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.white:hover {
  color: #F67DA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 330px) {
  .grid-container {
    grid-auto-rows: 150px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) {
  .grid-container {
    grid-auto-rows: 200px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) {
  .grid-container {
    grid-auto-rows: 200px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .white,
  .black {
    font-size: 35px;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-auto-rows: 200px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1920px) {
  .grid-container {
    grid-auto-rows: 400px;
  }
  .inner-card {
    padding: 47px 40px 0 40px;
  }
  .white,
  .black {
    font-size: 38px;
    line-height: 56px;
  }
}

h1 {
  text-align: center;
}

/*Akciós termékek*/
#discount .center-box,
#animation .center-box {
  text-align: center;
}

#discount {
  margin-top: 146px;
  overflow: hidden;
}

#discount h1 {
  font-size: 28px;
  font-weight: 400;
}

.product-button {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.row {
  margin-left: -30px;
  margin-right: -30px;
}

.products {
  margin-top: 78px;
  padding: 0;
}

.products p {
  font-size: 14px;
  padding: 13px 25px;
  color: #A1A1A1;
  line-height: 22px;
  font-weight: 500;
}

.products a {
  text-decoration: none;
  text-transform: uppercase;
  color: #212121;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.products a:hover {
  color: #F67DA1;
}

.products .item-content {
  padding: 0 30px;
}

.products .slick-dots {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 10px;
  cursor: pointer;
}

.products .slick-dots li {
  margin-left: 15px;
  margin-right: 15px;
  width: 100px;
  height: 7px;
  position: relative;
  padding: 0;
  background-color: #212121;
  border-radius: 0;
  opacity: 0.2;
}

.products .slick-dots li button {
  display: none;
}

.products .slick-dots .slick-active {
  opacity: 1;
  background-color: #212121;
}

.discount-product-text {
  margin-top: 30px;
}

.discount-product-img {
  position: relative;
}

.discount-product-img .favorite-btn {
  position: absolute;
  background: none;
  top: 0;
  right: 0;
  border: none;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #F4F0F1 transparent transparent;
  z-index: 9;
}

.discount-product-img .favorite-btn svg {
  position: absolute;
  z-index: 10;
  right: -45px;
  top: 10px;
}

.discount-product-img .favorite-btn svg:hover {
  color: #F67DA1;
}

.stars {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stars li {
  display: inline;
  padding: 0 5px;
}

.stars li:last-of-type {
  color: #A1A1A1;
  font-size: 12px;
  padding: 3px 5px;
}

.price {
  margin-top: 23px;
}

.price li {
  display: inline-block;
  color: #212121;
  font-size: 20px;
  font-weight: 500;
}

.price li:first-of-type {
  color: #A1A1A1;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  padding-right: 15px;
}

@media (min-width: 330px) {
  .slick-slide img {
    margin: 0 auto;
  }
}

/*Animációs banner*/
#animation {
  margin-top: 130px;
  margin-bottom: 100px;
}

.animation-bg {
  background: url("../img/animation1.png") center no-repeat;
  background-size: cover;
  -webkit-transition: 5s;
  transition: 5s;
  animation: animate 10s ease-in-out running infinite alternate-reverse forwards;
}

@-webkit-keyframes animate {
  0% {
    background-image: url("../img/animation1.jpg");
  }
  50% {
    background-image: url("../img/animation2.jpg");
  }
  100% {
    background-image: url("../img/animation3.jpg");
  }
  0% {
    background-image: url("../img/animation1.jpg");
  }
}

@keyframes animate {
  0% {
    background-image: url("../img/animation1.jpg");
  }
  50% {
    background-image: url("../img/animation2.jpg");
  }
  100% {
    background-image: url("../img/animation3.jpg");
  }
  0% {
    background-image: url("../img/animation1.jpg");
  }
}

.animation-bg .color-cover {
  background: rgba(246, 125, 161, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
}

.animation-bg h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.animation-bg p {
  font-size: 16px;
  color: #763648;
  padding-top: 16px;
  font-weight: 500;
  line-height: 22px;
}

.animation-bg .btn {
  margin-top: 44px;
}

@media (min-width: 330px) {
  h3 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 60px;
  }
  .color-cover {
    padding: 1rem;
  }
}

@media (min-width: 1780px) {
  h3 {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (min-width: 330px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1780px;
  }
}

.btn {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0;
  padding: 15px 47px 14px 47px;
  margin: 0 auto;
}

.btn svg {
  margin-left: 17px;
  fill: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #212121;
  border: none;
}

.btn-primary:hover {
  color: #F67DA1;
  background-color: #212121;
}

.btn-outline-primary {
  color: #212121;
  border: 1px solid #212121;
  font-weight: 600;
}

.btn-outline-primary:hover {
  background: #F67DA1;
  border: 1px solid transparent;
}

.button-arrow-icon {
  position: relative;
  top: -1px;
}
/*# sourceMappingURL=style.css.map */