@import "./reset";
@import "./variables";
@import "./typo";
@import "./js-style";
@import "./menu";
@import "./footer";
@import "./preferences";
@import "./category";
@import "./akcio";
@import "./banner";

body {
    margin: 0 auto;
    position: relative;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:330px) {
    .container{
        max-width: 310px;
    }
}

@media (min-width:575px) {
    .container{
        max-width: 555px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1160px;
    }
}

@media only screen and (min-width: 1850px) {
    .container {
        max-width: 1780px;
    }
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #212121;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 16px 25px;
    font-size: 14px;
    line-height: 1rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: $text-color;
    border-color: $text-color;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;

    &:hover {
        color: $hover-color;
    }

    .button-arrow-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3px;
        padding-left: 17px;

        svg {
            width: 14px;
            fill: #fff;

            &:hover {
                fill: $hover-color;
            }
        }
    }
}

.btn-secondary {
    margin-top: 100px;
    border: 1px solid $text-color;
    padding: 15px 60px 15px 40px;
    display: inline-flex;
    position: relative;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;

    &:hover {
        color: $hover-color;
    }

    .button-arrow-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3px;
        padding-left: 17px;

        svg {
            fill: $text-color;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.data-inviewport {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 2s;
}

.data-inviewport.is-inViewport {
    opacity: 1;
    transition: 2s;
    transform: translateY(0px);
}